@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
Andreas hälsar

<div class="card">
    <div class="card-header">
        <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#testCollapse" type="button" aria-expanded="false" aria-controls="testCollapse">
            Test Collapse Button
        </button>
    </div>
    <div class="collapse collapse show" id="testCollapse">
        <div class="card-body">
            Bootstrap Collapse Test Content.
        </div>
    </div>
</div>

@code{

}